{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotels</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <header class="topbar">
    <h1>Hotels</h1>

    {% if request.user.is_authenticated %}
    <div class="user-info">
        <span>Welcome, <strong>{{ request.user.username }}</strong></span>
        <a href="{% url 'profile' %}" class="btn-profile">Profile</a>
        <a href="{% url 'logout' %}" class="btn-logout">Logout</a>
    </div>
{% else %}
    <div class="auth-buttons">
        <a href="{% url 'login' %}" class="btn-login">Login</a>
        <a href="{% url 'registration' %}" class="btn-register">Register</a>
    </div>
{% endif %}

</header>

    {% if hotels.count > 0 %}
        {% for hotel in hotels %}
            <div class="hotel-card">
                <p>{{ hotel.hotel_name }}</p>
                <p>{{ hotel.hotel_location }}</p>
                {% for photo in hotel.hotelphoto_set.all %}
                    {% if photo.photo %}
                        <img src="{{ photo.photo.url }}" alt="{{ hotel.hotel_name }}" width="300">
                    {% endif %}
                {% endfor %}
                <a href="{% url 'hotel_info' hotel.hotel_id %}">
                    <button>Description</button>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>No hotels found.</p>
    {% endif %}
</body>
</html>
